// Hero section ====
// ================

.hero {
    padding: 100px 24px;
    width: 100%;
    text-align: center;
    background: url('../assets/home/mobile/image-hero-coffeepress.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 120px;

    @include mq(tablet) {
        padding: 104px 58px;
        background: url('../assets/home/tablet/image-hero-coffeepress.jpg');
        background-size: cover;
        text-align: left;
        margin-bottom: 144px;
    }

    @include mq(desktop) {
        background: url('../assets/home/desktop/image-hero-coffeepress.jpg');
        background-size: cover;
        padding: 117px 85px;
    }

    h1 {
        color: $light-cream;
        margin-bottom: 24px;
        @include mq(tablet) {
            max-width: 329px;
    }
    @include mq(desktop) {
        max-width: 493px;
        margin-bottom: 32px;
    }

    }

    p {
        color: $light-cream;
        opacity: 80%;
        margin-bottom: 40px;

        @include mq(tablet) {
            max-width: 398px;
    }
    @include mq(desktop) {
        margin-bottom: 56px;
    }
    }
}

// Collection ====
//===============

.collection-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Fraunces', sans-serif;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 13px;
    background-color: $light-gray;
    background-image: linear-gradient(180deg, $light-gray 0%, rgba(254,252,247,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mq(tablet) {
        font-size: 90px;
        margin-bottom: -40px;
    }

    @include mq(desktop) {
        font-size: 150px;
        margin-bottom: -80px;
    }
}

.collection-card-container {
    margin-bottom: 120px;
    @include mq(tablet) {
        width: 83%;
        margin: 0 auto;
    }
    @include mq(desktop) {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 200px;
    }
}

.collection-card {
    text-align: center;
    margin-bottom: 48px;

    @include mq(tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        text-align: left;
    }

    @include mq(desktop) {
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 24%;
    }

    img {
        width: 200px;
        height: 151px;
        margin-bottom: 24px;
        @include mq(tablet) {
            margin-bottom: 0;

        }
    }

    .collection-card-details {
        @include mq(tablet) {
            width: 50%;
        }
        @include mq(desktop) {
            width: 87%;
        }
    }

    h4 {
        margin-bottom: 16px;
        @include mq(tablet) {
            margin-bottom: 24px;
        }
    }

    p {
        color: $dark-gray;
    }
}

// Features ====
// =============

.features {
    color: $light-cream;
    text-align: center;
    position: relative;
}

.feature-header {
    background: $footer-background;
    margin-bottom: -597px;
    padding: 64px 24px 0;
    border-radius: 10px;
    height: 902px;
    @include mq(tablet) {
        height: 573px;
        padding: 56px 74px 0;
        margin-bottom: -325px;
    }
    @include mq(desktop) {
        padding-top: 100px;
        margin-bottom: -230px;
    }

    h2 {
        color: $light-cream;
        margin-bottom: 24px;
    }

    p {
        opacity: 80%;
        max-width: 540px;
        margin: 0 auto;
        @include mq(desktop) {
            max-width: 540px;
            margin: 0 auto;
        }
    }
}

.feature-container {
    @include mq(desktop) {
        width: 87%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}


.feature {
    background: $dark-cyan;
    border-radius: 10px;
    padding: 72px 0 51px;
    width: 85%;
    margin: 24px auto 0;

    @include mq(tablet) {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 55px;
        padding: 41px 48px 41px 70px;
    }

    @include mq(desktop) {
        height: 382px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        width: 32%;
        padding: 72px 48px 48px 48px;
        margin: 0;
    }

    img {
        margin-bottom: 56px;
        @include mq(tablet) {
            margin-bottom: 0;
        }
        @include mq(desktop) {
            margin-bottom: 56px;
        }
    }

    h4 {
        color: $light-cream;
        margin-bottom: 24px;
    }

    p {
        width: 75%;
        margin: 0 auto;
        @include mq(tablet) {
            width: 100%;
        }
    }
}

// Explainer ==
// ============

.explainer {
    margin: 120px 0 135px;
    text-align: center;

    @include mq(tablet) {
        margin: 140px 0 144px;
        text-align: left;
    }
    @include mq(desktop) {
        margin: 200px 0;
    }

    h4 {
        color: $light-gray;
        margin-bottom: 80px;
        @include mq(tablet) {
            margin-bottom: 40px;
        }
        @include mq(desktop) {
            margin-bottom: 80px;
        }
    }

}

.explainer-card-container {
    @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    @include mq(desktop) {
        margin-bottom: 64px;
    }
}


.explainer-card {
    margin-bottom: 56px;
    @include mq(tablet) {
        flex: 1;
    }

    .explainer-number {
        font-size: 72px;
        line-height: 1;
        font-weight: $fw-black;
        font-family: 'Fraunces', sans-serif;
        color: $pale-orange;
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 24px;
        @include mq(tablet) {
            max-width: 223px;
        }
    }

    p {
        color: $dark-gray;
        @include mq(tablet) {
            width: 90%;
        }
        @include mq(desktop) {
            max-width: 285px;
        }
    }

    &:last-of-type {
        margin-bottom: 89px;
        @include mq(tablet) {
            margin-bottom: 0;
        }
    }


}

.bullet {
    @include mq(tablet) {
        display: flex;
        align-items: center;
        margin-bottom: 48px;        
    }
    @include mq(desktop){
        margin-bottom: 67px;
    }
}
.circle {
    @include mq(tablet) {
        width: 31px;
        height: 31px;
        border: 2px solid $dark-cyan;
        border-radius: 50%;
    }
}

.line {
    @include mq(tablet) {
        height: 2px;
        width: 93%;
        background: $pale-orange;
    }
}
