$dark-cyan: #0E8784;
$dark-cyan-hover: #66D2CF;
$dark-gray: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$light-gray: #83888F;
$clr-btn-disabled: #E2DEDB;
$footer-background: #2C343E;

$fw-black: 900;
$fw-reg: 400;
$fw-bold: 700;